<table width="100%" bgColor="orange">
    <tr align="center">
        <td width="20%" class="imgset">
            <div>
                <a ng-href="#!/">
                    <img ng-src="{{college}}" alt="Image" width="100%">
                </a>

            </div>

            <div ng-repeat="u in users">

                <a ng-show="isAuthorized && user.email === u.email" ng-href="#!/profile">
                    <img ng-src="{{u.img}}" alt="Image" width="100%">
                </a>

                <div ng-show="user.email != u.email" ng-click="submitLogin(u)" style="cursor:pointer">
                    <img ng-src="{{u.img}}" alt="Image" width="100%">
                </div>

            </div>



        </td>
        <td width="80%" align="center">
            <h1 bgColor="orange">Welcome to Government MCA College, Maninagar</h1>
            <h3>GROUP NO : 17</h3>

        </td>
    </tr>
</table>
<table width="100%" bgColor="grey">
    <tr align="center">
        <td>
            <p><a href="#">Home</a> | <a href="#!/about">About Us</a> | <a href="#">Services</a> | <a
                    href="#">Contact</a>
                <span ng-if="isAuthorized">| <a href="#!/jobApplication">Jobs</a></span>
                <span ng-if="isAuthorized">| <a href="#!/calculator">Calculator</a></span>
                <span ng-if="isAuthorized">| <a href="" ng-click="logout()">Logout</a></span>
            </p>
        </td>
    </tr>
</table>
<div class="toast-container" id="toastContainer"></div>