<header ng-include="'view/component/header.html'"></header>
<main>
    <div class="container" ng-controller="calculatorController">
        <input type="text" ng-model="currentInput" disabled />

        <table class="calculator">
            <tr>
                <td ng-click="handleInput('CI')">CI</td>
                <td ng-click="handleInput('+/-')">+/-</td>
                <td ng-click="handleInput('%')">%</td>
                <td ng-click="handleInput('/')">/</td>
            </tr>
            <tr>
                <td ng-click="handleInput('7')">7</td>
                <td ng-click="handleInput('8')">8</td>
                <td ng-click="handleInput('9')">9</td>
                <td ng-click="handleInput('*')">*</td>
            </tr>
            <tr>
                <td ng-click="handleInput('4')">4</td>
                <td ng-click="handleInput('5')">5</td>
                <td ng-click="handleInput('6')">6</td>
                <td ng-click="handleInput('-')">-</td>
            </tr>
            <tr>
                <td ng-click="handleInput('1')">1</td>
                <td ng-click="handleInput('2')">2</td>
                <td ng-click="handleInput('3')">3</td>
                <td rowspan="2" ng-click="handleInput('+')">+</td>
            </tr>
            <tr>
                <td ng-click="handleInput('0')">0</td>
                <td ng-click="handleInput('.')">.</td>
                <td ng-click="handleInput('=')">=</td>
            </tr>
        </table>
    </div>
</main>
<footer ng-include="'view/component/footer.html'"></footer>