<div class="container">
    <div class="left">
        <form name="registerform" ng-submit="submitRegister(registerform)" novalidate>

            <h2>Register</h2>

            <div class="input-form">
                <div class="multi-input-group">

                    <!-- Firstname -->
                    <div class="input-group">
                        <label>First Name</label>
                        <input type="text" name="firstname" ng-model="user.firstname" ng-required="true"
                            ng-minlength="3" no-numbers />

                        <div class="error" ng-show="registerform.firstname.$touched || jobForm.$submitted && registerform.firstname.$invalid">
                            <span ng-show="registerform.firstname.$error.required">First Name is required</span>
                            <span ng-show="registerform.firstname.$error.minlength">First Name must be at least 3
                                characters</span>
                        </div>
                    </div>

                    <!-- Lastname -->
                    <div class="input-group">
                        <label>Last Name</label>
                        <input type="text" name="lastname" ng-model="user.lastname" ng-required="true" ng-minlength="3"
                            no-numbers />
                        <div class="error" ng-show="registerform.lastname.$touched || jobForm.$submitted && registerform.lastname.$invalid">
                            <span ng-show="registerform.lastname.$error.required">last Name is required</span>
                            <span ng-show="registerform.lastname.$error.minlength">last Name must be at least 3
                                characters</span>
                        </div>
                    </div>

                </div>

                <!-- Email -->
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="user.email" ng-required="true" />
                    <div class="error" ng-show="registerform.email.$touched || jobForm.$submitted && registerform.email.$invalid">
                        <span ng-show="registerform.email.$error.required">Email is required</span>
                        <span ng-show="registerform.email.$error.email">Enter Valid Email</span>
                    </div>
                </div>

                <!-- Password -->
                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" id="password" ng-model="user.password" ng-required="true"
                        ng-minlength="4" />
                    <div class="error" ng-show="registerform.password.$touched || jobForm.$submitted && registerform.password.$invalid">
                        <span ng-show="registerform.password.$error.required">password is required</span>
                        <span ng-show="registerform.password.$error.minlength">Last Name must be at least 4
                            characters</span>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="input-group">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" ng-model="user.confirmpassword"
                        ng-required="true" match-password="user.password" ng-minlength="4"/>
                    <div class="error" ng-show="registerform.confirmpassword.$touched && registerform.confirmpassword.$invalid">
                        <span ng-show="registerform.confirmpassword.$error.required">Confirm Password is required</span>
                        <span ng-show="registerform.confirmpassword.$error.minlength">last Name must be at least 4
                            characters</span>
                        <span ng-show="!registerform.confirmpassword.$error.required && !registerform.confirmpassword.$error.minlength && registerform.confirmpassword.$error.matchPassword">
                            Password and Confirm Password must be same
                        </span>

                    </div>
                </div>

            </div>

            <button type="submit" class="btn" ng-disabled="registerform.$invalid">
                Register
            </button>

            <p class="register-text">
                Already have an account? <a href="#!/login">Login</a>
            </p>

        </form>
    </div>

    <div class="right">
        <div class="shape shape-a"></div>
        <div class="shape shape-b"></div>
        <div class="shape shape-c"></div>
        <div class="shape shape-d"></div>
        <div class="shape shape-e"></div>
        <div class="shape shape-f"></div>
    </div>
</div>