:root {
    --light-black: rgba(147, 147, 147, 0.838);
    --primary:#7689de;
    --secondary:#a9dce3;
    --primary-dark:#7689ded0;
    --secondary-dark:#a9dce3cc;
    letter-spacing: .8px;
}

body {
    font-family: Arial, sans-serif;
    width:100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 182, 72);
}

.container{
    padding:1rem;
    box-shadow: 0px 0px 8px var(--light-black);
    border-radius: 4px;
    background-color: white;
}
input{
    text-align:end;
    letter-spacing: 1px;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 2rem;
    border:none;
    box-shadow: 0px 2px 2px var(--light-black) ;
}
.input:focus{
    outline: 0;
}
table{
    font-size: 2rem;
    width: 100%;
}
td{
    background-color: var(--secondary);
    text-align:center;
    margin:40px;
    padding:1.5rem;
    border:2px solid white;
    border-radius: 8px;
    cursor: pointer;
}
td:hover{
    background-color: var(--secondary-dark);
}
.special-char{
    background-color: orange;
    color: white;
}
.special-char:hover{
    background-color: var(--primary-dark);
}

.redire-btn{
    position:absolute;
    top:25px;
    right:25px;
    text-decoration:none;
    background-color: green;
    color:white;
    font-weight:500;
    padding:6px 12px;
    border-radius: 6px;
}

.redire-btn:hover{
    background-color: rgb(1, 112, 1);
}