td[width="300"],
td[width="200"] {
  background-color: #f9f9f9;
  padding:5px;
}

textarea {
  resize: none;
}

input,
textarea {
  width: 80%;
  font-size: 1rem;
  padding: 5px;
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  td {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  td {
    width: 100% !important;
  }

  td[width="300"],
  td[width="200"] {
    background-color: #f9f9f9;
  }

  form {
    width: 100%;
    max-width: none;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.3em;
  }
}