:root {
    --light-black: rgba(173, 173, 173, 0.838);
    --primary: rgb(255, 165, 0);
    --secondary: rgb(255, 190, 69);
}

/* Center page */
.profile-container {
    min-height: 80vh;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Card */
.profile-card {
    background: #fff;
    width: 100%;
    max-width: 420px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Title */
.profile-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Input group */
.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    display: block;
    text-transform: capitalize;
    margin-bottom: 8px
}

.form-group input {
    width: 100%;
    padding: 12px;
    letter-spacing: .5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--light-black);
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

/* Buttons */
.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.save-btn {
    flex: 1;
    padding: 12px;
    background: #28a745;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    flex: 1;
    padding: 12px;
    background: #dc3545;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn:hover {
    background: #218838;
}

.cancel-btn:hover {
    background: #c82333;
}

/* Desktop */
@media (min-width: 768px) {
    .profile-card {
        max-width: 500px;
    }
}
